html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    /*font-size: 100%;
    font-weight: normal;*/
}

.bandeja{
    top: 0;
    right: -300px;
    width: 50%;
    position: fixed;
    height: 10vh;
}

.btn-close{
    font-size: 25px;
}

#nav{
    padding-left: 2%;
    background-color: #010700;
}

#logo_nav{
    height: 100px;
    width: 100dp;
    margin-left: 50xp;
}

#agroexpress{
    height: 50px;
    width: auto;
    position: absolute;
    padding-left: 6%;
}

.boton_img{
    border-radius: 50%;
    border: none;
}

#navegador{
    margin-left: -20%;
    margin-right: 10%;
}

.nav_link{
    width: max-content;
    color: aliceblue;
    
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li{
    text-decoration: none;
    margin-inline-start: 12%;
    font-size: 20px;
}

.nav li a{
    color: white;
}

.item_nav:hover{
    color: gray;
    border-bottom: 2px solid #146300;
}

.nav li a:hover{
    color: gray;
}

#cartas{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin: 1%;
    width: 18rem;
}
.card-img-top{
    width: 90%;
    height: 90%;
}
.boton_agregar{
    width: min-content;
    height: auto;
    margin: 1%;
    margin-left: auto;
    display: block;
    float: right;
}

/* despacho */

.contenido{
    background-color: #dbddda;
    color: #146300;
    margin: 1%;
    padding: 1%;
    display: flex;
    border-radius: 2%;
    border-color: #146300;
    flex-wrap: row;
    justify-content: space-between;
}

.contenido:hover{
    background-color: #418522fa;
    color: #ffffff;
    margin: 1%;
    padding: 1%;
}

    @media only screen and (max-width: 742px){
    .contenido {
        display: flex;
        flex-direction: column;

    }
    }

.contenido2{
    background-color: #dbddda;
    color: #010700;
    margin: 1%;
    padding: 1%;
    display: flex;
    border-radius: 2%;
    border-color: #146300;
    flex-wrap: row;
    justify-content: space-between;
}
.img_desp{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
