html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    /*font-size: 100%;
    font-weight: normal;*/
}

@media (min-width: 300px) and (max-width: 700px) {
  #bandeja{
    top: 0;
    right: 300px;
    width: 300px;
    position: fixed;
    height: 100vh;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  #bandeja2{
    top: 0;
    right: 300px;
    width: 300px;
    position: fixed;
    height: 100vh;
  }
}
.bandeja{
  top: 0;
  right: -300px;
  width: 15%;
  position: fixed;
  height: 100vh;
}

.bandeja2{
  top: 0;
  right: -300px;
  width: 15%;
  position: fixed;
  height: 100vh;
}

*{
  text-decoration: none;
}


#logo_nav{
    height: 100px;
    width: 100dp;
    margin-left: 50xp;
}
@media only screen and (max-width: 500px) {
  #logo_nav {
    height: 80px;
    width: 80px;
  }
}
#agroexpress{
  height: 50px;
  width: auto;
  margin-right: 500px;
  
}
@media only screen and (min-width: 250px) and (max-width: 800px) {
  #agroexpress {
    width: 150px;
    height: 0px;
    margin: 0px;

  }
}


#navegador{
    margin-left: -20%;
    margin-right: 10%;
}

.nav_link{
    width: max-content;
    color: aliceblue;
    
}
.navbar-brand{
  margin-left: 1%;
  font-weight: 500%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item1{
    margin-left: -40%;
}
.nav-item2{
    margin-left: 40%;
}

  @media only screen and (max-width: 1000px) {
    .nav-item3 {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
      margin-top: 1%;
      margin-bottom: 1%;
    
    }
  }

.nav-item4{
  margin-left: 10px;
}

  @media only screen and (max-width: 1000px) {
    .nav-item4 {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  }

.nav-item3:hover,.nav-item4:hover{
  border-bottom: 2px solid #53704B;
}
#cartas{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  margin: 1%;
  width: 255px;
  box-shadow: 0 0 30px grey;
}
.card:hover{
  margin: 1%;
  width: 260px;
  box-shadow: 0 0 30px #058100;
}
  @media only screen and (max-width: 1000px) {
    .card {
      margin: 1%;
      width: 260px;
    }
  }

  @media only screen and (max-width: 800px) {
    .card {
      margin: 1%;
      width: 200px;
    }
    .card-img-top2{
      width: 30%;
      height: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4%;
    }
    .texto-carta{
      font-size: 10px;
    }
  }
.card-img-top{
  width: 90%;
  height: 90%;
}
.card-img-top2{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.links{
  color: #19ad05;
}

.links:hover{
  color: #53704B;
  transform: scale(1.2);
}

.boton_agregar{
  margin: 1%;
  margin-right: 20px;
  display: block;
  float: right;
}
.boton_agregar_desplegable{
  color: white;
  margin-top: 20px;
  background-color: #19ad05;
  margin-left: 35px;
  border: solid #009688;
  border-radius: 20px;
  
}
  header{
    height:170px;
    color:#FFF;
    font-size:20px;
    font-family:Sans-serif;
    background:#009688;
    padding-top:30px;
    padding-left:50px;
  }
  .contenedor{
    width:90px;
    height:240px;
    position:absolute;
    right:0px;
    bottom:0px;
  }
  .botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#4cf436;
    right:0;
    bottom:0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
  }
  span{
    transition:.5s;  
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }
  .bton{
    width:40px;
    height:40px;
    border-radius:100%;
    border:none;
    color:#FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size:28px;
    outline:none;
    position:absolute;
    right:0;
    bottom:0;
    margin-right:26px;
    transform:scale(0);
  }
  .botonF2{
    background:#f38021;
    margin-bottom:85px;
    transition:0.5s;
  }
  .animacionVer{
    transform:scale(1);
  }
  .btn-flotante {
    color: #ffffff; 
    border-radius: 5px; 
    background-color: #037701a3; 
    padding: 18px 30px; 
    position: fixed;
    bottom: 30px;
    right:30px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px #ffffff1a;
    z-index: 99;
    }
    .btn-flotante:hover {
    background-color: #ffffff; 
    box-shadow: 0px 15px 20px #0000004d;
    transform: translateY(-7px);
    }
    @media only screen and (max-width: 600px) {
    .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
    }                                                        
}
#foot1{
  position: relative;
  padding: 20px;
}

  @media only screen and (max-width: 400px){
  .div-foot {
      width: 25%;
  }
  }

.footer-title{
  color: #407f44;
  font-weight: 1000px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  @media only screen and (max-width: 300px){
  .footer-title {
      font-size: 14px;
  }
  }

a.foot{
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
a.foot:hover{
  color: #1bc805;
}

  @media only screen and (max-width: 400px){
  a.foot {
      font-size: 15px;
  }
  }

img.redes{
  margin: 5px;
}

img.redes:hover{
  margin: 5px;
  width: 60px;
}

#foot2{
  background-color: #438006;
  padding: 2px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-foot{
  font-weight: 600px;
}