html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    /*font-size: 100%;
    font-weight: normal;*/
}
#navegacion{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 90px;
    width: 100%;
    color: aqua;
}
#logo {
    height: 95px;
}
#tipografia {
    height: 50px;
    margin-top: 15px;
}
#usuario {
    color: white;
    font-size: large;
    margin-left: 25%;
    height: 10px;
}

@media (min-width: 300px) and (max-height: 900px) {
    #usuarioIMG {
    
        height: 50px;
        margin-top: 10px;
        margin-left: 30px;
        
    }
}
#usuarioIMG {
    
    height: 50px;
    margin-top: 2px;
    position: relative;
    left: 20px;
}
#enlaces{
    margin-left: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 30px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat:  no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

}
#enlaces:hover{
    background-color: transparent;
}
#enlaces:hover,#enlaces:focus{
    background-size: 100% 2px;
    color: green;
}

#enlaces2{
    position: relative;
    bottom: 8px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 60px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat:  no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

}
#enlaces2:hover{
    background-color: transparent;
}
#enlaces2:hover,#enlaces2:focus{
    background-size: 100% 2px;
    color: green;
}
@media (min-width: 300px) and (max-width: 700px) {
    #carrito {
        position: relative;
        
    }
}
#carrito {
    height: 50px;
    margin-left: 50px;
}

#Titulacion_productos {
    text-align: center;
    color: azure;
    background-color: rgba(0, 0, 0, 0.482);
    
    
}
.card{
    margin: 1%;
    width: 288px;
    box-shadow: 0 0 30px gainsboro;
  }
  #cartas{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }



.int{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #37ff0f;
    border-radius: 10px;
    margin-top: 1%;
   width: 50%;
   height: 20%;
   background-color: #ffffff;
   padding: 3%;
   box-shadow: 3px 5px #0c7c01;
}

#btn{
    background-color: #058e3c;
    color: white;
}
#lacteos{
    height: 30%;
    width: 200px;
}
#tabla {
    background-color: #ffffff;
    border: solid green;
    border-radius: 20px;
    border-color: #058e3c;
    margin-top: 50px;
    height: 100%;
    width: 200%;


}
.TitulTablas {
    color: #0c7c01;
}
#CarrTabla {
    text-align: center;
    color: #0c7c01;
}
#contenedorDetalleProducto {
    display: flex;
   
}
#TitulProducDetall {
    color: black;
    position: relative;
    left: 150px;
    top: 100px;
    
}
#CantProducDetall {
    position: relative;
    top: 150px;
    right: 10px;

}
#btnSalirDetallProduc {
    position: relative;
    left: 400px;
}
#NomCampDetall {
    text-align: center;
    color: #0c7c01;
}
#CajaGrandeDetallProduc {
    background-color: #ffffff;
    width: 40%;
    height: 650px;
    margin-left: 580px;
    margin-top: 100px;
    border: solid green;
    border-radius: 50px;

}
#InfoCapesino {
    display: flex;
    padding: 10px;
    margin-top: 50px;
}
#FormNombreCamp {
    color: #0c7c01;
    font-weight: bold;
    width: 600px;
    margin-left: 100px;
}
#imgFormProduc {
    display: flex;
}
#ContPreciosProducForm {
    display: flex;
    margin-top:15px;
width: 200px;
}
#cantidadDsipForm {
    display: flex;
    position: relative;
    top: 10px;
    right: 155px;
}
#imgCampForm {
    width: 150px;
    margin-left: 140px;
}
#inputTablasCanasta{
    width: 210px;
}
#posicionNav{
    margin-left: 450px;
}
@media (min-width: 300px) and (max-width: 700px) {
    #posicionNav{
        margin-left: 60px;
        position: relative;
        right: 90px;
    }
}

